<style media="screen">
    	*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup{
    background-color: #ffffff;
    width: 35%;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}
@media screen and (max-width: 800px) {
.popup{
    width: 90%;}
}
.popup button{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    margin:  0 0 10px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
		background: #03549a;
		border-radius: 100%;
		width: 40px;
		height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
	margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.body-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}
    </style>
<div class="body-popup">
    <div class="popup">
        <button id="close">&times;</button>
        <h2>Pemberitahuan</h2>
        <p>
            WebStore <b>Meita Collection</b> Masih Dalam Pemeliharan, Tidak Diperkenankan Melakukan <b>Transaksi</b> Apapun.<br/> <b style="font-size:12px">Developer Tidak Bertanggung Jawab Jika hal tersebut terjadi</b>
        </p>
        <!--<a href="#">Let's Go</a>-->
    </div>
</div>
<script type="text/javascript">
window.addEventListener("load", function(){
    setTimeout(
        function open(event){
            document.querySelector(".popup").style.display = "block";
        },
        2000 
    )
});


document.querySelector("#close").addEventListener("click", function(){
    document.querySelector(".popup, .body-popup").style.display = "none";
});
    </script>
