---
layout: default
---


      <main class="content card single-product simpleCart_shelfItem" itemscope itemtype="http://schema.org/Product">
<img class="display-none item_thumb" src="{{ page.featured_image_path }}"/>
<span class="none item_link">{{site.url}}{{ page.url }}</span>

        <section class="product-image">
          <div class="styles">
            {% for style in page.styles %}
          		<div id="product-{{ forloop.index }}" class="style" {% unless forloop.first %}style="display: none;"{% endunless %}>
        				<img class="img-product" alt="{{ page.title }}" src="{{ style.image_path }}" itemprop="image">
          		</div>
          	{% endfor %}
          </div>
        </section>

        <section class="product-post">
          <h2 class="entry-title item_name" itemprop="name">{{ page.title }}</h2>
  <div itemprop="aggregateRating"
    itemscope itemtype="https://schema.org/AggregateRating">
   <span class="iconify" data-icon="mdi:star" data-inline="false" style="vertical-align:text-bottom;color:#ffc107;" data-width="24px" data-height="24px"></span><span itemprop="ratingValue">{{page.rating}}</span> | at <span itemprop="reviewCount">{{page.rC}}</span> customer reviews
  </div>
<div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <span itemprop="priceCurrency" content="IDR">IDR</span>
          <span itemprop="price" content="{{ page.price }}" class="item_price">{{ page.price }}<span>
  </div>
    <link itemprop="availability" href="https://schema.org/InStock" />In stock
<div class="border-bottom"></div>
<p/>
        	<div class="style-picker">
            <span class="margin-bottom-0">Color:</span>
            {% for style in page.styles %}
              <div id="product-{{ forloop.index }}"{% if forloop.first %} class="item_color"{% endif %} style="background-color: {{ style.color }}"><span class="display-none">{{ style.name }}</span></div>
            {% endfor %}
        	</div>
<div class="selecting">
          <span class="mobile-hide">Model:</span>
          <select class="item_model">
            {% for model in page.tali %}
              <option value="{{ model }}"> {{ model }} </option>
            {% endfor %}
          </select>
<div class="input-group plus-minus-input" id="input_div">
              <button class="btn btn-min btn-number" id="minus" onclick="minus()">
                <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 28px;"></i>
              </button>
          <input type="text" id="count" class="input-group-field item_Quantity" value="1" min="1" max="100" style="text-align: center;border: none;background: #fff0;" disabled />
              <button class="btn btn-plus btn-number" id="plus" onclick="plus()">
                  <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 28px;"></i>
              </button>
      </div>
</div>
<p/>
  <div class="description" itemprop="description"  id="description">
          {{ content }}
</div>
<p/>
<div class="mobile-hide">
<div class="ngarumpul">
<a type="button" data-fancybox="" data-src="#whatsapp" href="javascript:;">
<span class="iconify" data-icon="la:whatsapp" data-inline="false" style="color: #07bc4c;" data-width="45px" data-height="45px"></span></a>
          <button id="item_add" class="btn item_add button" href="javascript:;" style="float:right;display:block!important;" onclick="myFunction()"> Add to Cart </button></div>
</div>
        </section>
<div class="mobile-show">
<div class="floating-table">
<div class="tombol-2">
<div class="ngumpul"><a href="/cart/" id="cart-menu">
<span class="iconify" data-icon="uil:shopping-bag" data-inline="false" style="color: #4183C4;" data-width="45px" data-height="45px"></span><span class="simpleCart_quantity" style="position: absolute;left: 40px;top: 10px;background: red;padding:2px 4px;border-radius:5px;color: #fff;font-size: 14px;font-weight: bold;"></span></a>
<a type="button" data-fancybox="" data-src="#whatsapp" href="javascript:;">
<span class="iconify" data-icon="la:whatsapp" data-inline="false" style="color: #07bc4c;" data-width="45px" data-height="45px"></span></a></div>
          <a id="item_add" class="btn item_add button" href="javascript:;" style="float: right;"> Masuk Keranjang </a></div></div>
</div>
<form action="" method="post" style="display:none;width:100%;max-width:360px;margin:0px;align-items:stretch;" validate-form' id='whatsapp'>
<input class='pertanyaan' id='nomorAdmin' type='hidden'/>
        <small style="font-size:12px;">
            Assalamualaikum! lengkapi data berikut
        </small>
        <div>
            <input class='nama wajib' placeholder='Nama Lengkap' type="text" style="margin-bottom:40px;border-color:#07bc4c"></input>
            <textarea class='tanya wajib' placeholder='Pertanyaan' type="text" style="border-color:#07bc4c;max-width: 320px;width: -webkit-fill-available;"></textarea>
        </div>
        <div class="mb-0 text-right">
            <a type="button" class="button sendWAclik kirim" style="background:#07bc4c">Kirim</a>
        </div>
    </form>

      </main>
