---
layout: default
---


      <main class="content single-product simpleCart_shelfItem" itemscope itemtype="http://schema.org/Product">

        <section class="product-image">
          <div class="styles">
            {% for style in page.styles %}
          		<div id="product-{{ forloop.index }}" class="style" {% unless forloop.first %}style="display: none;"{% endunless %}>
        				<img alt="{{ page.title }}" src="{{ style.image_path }}" style="margin-bottom: -7px;" itemprop="image">
          		</div>
          	{% endfor %}
          </div>
        </section>

        <section class="product-post">
          <h2 class="entry-title item_name" itemprop="name">{{ page.title }}</h2>
  <div itemprop="aggregateRating"
    itemscope itemtype="https://schema.org/AggregateRating">
   Rated <span itemprop="ratingValue">3.5</span>/5 | 
   based on <span itemprop="reviewCount">11</span> customer reviews
  </div>
<div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <span itemprop="priceCurrency" content="USD">IDR</span>
          <span itemprop="price" content="{{ page.price }}" class="item_price">{{ page.price }}<span>
  </div>
    <link itemprop="availability" href="https://schema.org/InStock" />In stock
<div class="border-bottom"></div>
<p/>
  <div class="description" itemprop="description"  id="description">
          {{ content }}
</div>
<p/>
        	<div class="style-picker">
            <span class="margin-bottom-0">Color:</span>
            {% for style in page.styles %}
              <div id="product-{{ forloop.index }}"{% if forloop.first %} class="item_color"{% endif %} style="background-color: {{ style.color }}"><span class="display-none">{{ style.name }}</span></div>
            {% endfor %}
        	</div>
<p/>
          <span class="margin-bottom-0">Model:</span>
          <select class="item_tali" style="-webkit-appearance:unset;">
            {% for model in page.tali %}
              <option value="{{ model }}"> {{ model }} </option>
            {% endfor %}
          </select>
<p/>
          <span class="margin-bottom-0">Quantity:</span>
          <select class="item_Quantity" style="-webkit-appearance:unset;">
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
          </select>
<p/>
          <a id="item_add" class="item_add button" href="javascript:;"> Add to Cart </a></span>
        </section>

      </main>
